compte.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="compte" type="compte"/>

  <xs:complexType name="compte">
    <xs:sequence>
      <xs:element name="code" type="xs:int" minOccurs="0"/>
      <xs:element name="dateCreation" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="solde" type="xs:float" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

